.authentication__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin: 15px auto 80px;
  display: block;
  width: 358px;
}

@media screen and (max-width: 465px) {
  .authentication__link {
    width: 260px;
    margin: 20px auto auto;
  }
}