.popup_opened {
  -webkit-transition-property: visibility, opacity;
  -o-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
  -webkit-transition-duration: 0.3s, 0.3s;
  -o-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  visibility: visible;
  opacity: 1;
}