.popup__container_place_info-tooltip {
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .popup__container_place_info-tooltip {
    width: 280px;
    height: 308px;
  }
}