.header {
  max-width: 880px;
  width: 69vw;
  padding: 45px 0 35px;
  margin: 0 auto;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    padding: 28px 0 26px;
  }
}