.profile__flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  overflow: hidden;
  
}

@media screen and (max-width: 768px) {
  .profile__flex-row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}